{% extends 'base.html.twig' %}

{% block title %}Bienvenue !
{% endblock %}

{% block body %}
	<h1 class="text-center text-4xl font-bold mb-4 text-cream-dark">
		Bienvenue sur le site !
	</h1>

	<div class="flex flex-col items-center justify-center h-screen">
		<div class="bg-white rounded-full p-4">
			<img src="{{ asset('images/bao.png') }}" alt="logo bao">
			<a href="{{ path('app_tuto') }}" class="bg-blue-500 text-white rounded-full px-4 py-2 hover:bg-blue-600">J'y vais !</a>

		</div>
	</div>


</div></div>{# <script src="{{ asset('js/modal_tuto.js') }}"></script> #}{% endblock %}
