{% extends 'base.html.twig' %}

{% block title %}Tutorial
{% endblock %}

{% block body %}
	<h1 class="text-center text-4xl font-bold mb-4 text-cream-dark">
		Tutoriel
	</h1>

	<p>Bienvenue dans le tutoriel de notre application ! Suivez les étapes pour commencer.</p>

	<!-- Contenu du tutoriel ici -->

	<a href="{{ path('app_home') }}" class="bg-blue-500 text-white rounded-full px-4 py-2 hover:bg-blue-600">Retour à l'accueil</a>
{% endblock %}
