{% extends 'base.html.twig' %}

{% block title %}Forum
{% endblock %}

{% block body %}
	<div class="container mx-auto my-8">
		<h1 class="text-center text-4xl font-bold mb-8 text-gray-800">
			Forum
		</h1>

		<div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
			{% for _ in 1..6 %}
				<div class="bg-white p-6 rounded-lg shadow-md">
					<h2 class="text-lg font-bold mb-4 text-gray-800">Sujet du Forum</h2>
					<p class="text-gray-600">Description du sujet ou contenu du sujet.</p>
					<a href="#" class="text-blue-500 hover:underline mt-2 block">Voir le sujet</a>
				</div>
			{% endfor %}
		</div>

		<a href="#" class="block mt-8 bg-blue-500 text-white rounded-full px-6 py-3 hover:bg-blue-600">Nouveau Sujet</a>
	</div>
{% endblock %}
