{% extends 'base.html.twig' %}

{% block title %}Présentations
{% endblock %}

{% block body %}
	<h1>Présentations</h1>


	<a href="{{ path('app_presentation_new') }}">Ajouter une présentation</a>
{% endblock %}
